<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Registro</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles-tablet.css" media="(min-width:768px)" />
    <link rel="stylesheet" href="/css/styles-desktop.css" media="(min-width:1080px)" />
</head>
<body class="text-body">
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/">
            <img 
                src="/images/logo-mercado-liebre.svg" 
                alt="Logo de mercado libre" 
                class="logo"
            />
            </a>
            <div class="search-margin">
                <input class="search" type="text" placeholder="  Buscar productos, marcas" />
                <button class="search-design"><i class="fa fa-search"></i></button>
            </div>
    
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de crédito
            </h2>
        </div>
    
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li> <a href="#"> Ofertas </a> </li>
                <li> <a href="#"> Tiendas Oficiales</a> </li>
                <li> <a href="#"> Vender </a> </li>
                <li> <a href="#"> Ayuda </a> </li>
            </ul>
    
            <ul class="right-navbar">
                <li> <a href="/register"> Créa tu cuenta</a> <i class="far fa-address-card"></i> </li>
                <li> <a href="#"> Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                <li> <a href="#"> Miscompras </a> <i class="fas fa-gift"></i> </li>
            </ul>
        </nav>
    </header>

    <main class="background-log-in">
        <div class="position-log-in">
            <form action="/" method="GET">
                <div>
                    <h2>Ingresa a tu Cuenta</h2>
                    <p>
                        <!-- <label for="login-username">username</label> -->
                        <input type="text" id="login-username" class="user-text-place" placeholder="  Nombre de Usuario">
                    </p>
                    <p>
                        <!-- <label for="login-password">password</label> -->
                        <input type="password" id="login-password" class="user-text-place" placeholder="  Contraseña">
                    </p>
                    <p>I've <a href="#">forgotten my password</a>.</p>
                </div>
                <div class="container-button-log">
                    <button class="log-in-button" type="submit">Ingresar</button>
                </div>
            </form>
        </div>

    </main>

    <footer class="margin-footer">
        <div class=footer-flex>
            <div class="contenedor-item-footer">
                <i class="fas fa-credit-card icon-footer"></i>
                <p class="text-footer"> Paga con tarjeta o en efectivo
                <p>
                <p class="mini-text-footer"> Con Mercado Liebre Cash, ténes cuotas sin interés con
                    tarjeta o efectivo en punts de pago.¡Y siempre es seguro!</p>
            </div>
            <div class="contenedor-item-footer">
                <i class="fas fa-gift icon-footer"></i>
                <p class="text-footer"> Envío desde $ 2.500</p>
                <p class="mini-text-footer"> Solo por estar registrad@ en Mercado pebre tenés envios gratis
                    en miles de productos. Es un beneficio de Mercado Puntos </p>
            </div>
            <div class="contenedor-item-footer">
                <i class="fas fa-user-shield icon-footer"></i>
                <p class="text-footer"> Seguridad, de princio a fin </p>
                <p class="mini-text-footer"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
                    puedas hacer, porque estás siempre protegid@. </p>
            </div>
        </div>
        <p> Copyright © 1999-2020 MercadoLiebre S.R.L</p>
    </footer>
</body>
</html>